
<%= form_with model: @blog_post do |f| %>
<% if f.object.errors.any? %>
    <div id="error_explanation">
        <ul>
        <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>

<% end %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>

  </div>

  <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
  </div>

  <%= f.submit %>
<% end %>